<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Admin">
	<META NAME="CREATED" CONTENT="20160807;102000000000000">
	<META NAME="CHANGEDBY" CONTENT="abhi1">
	<META NAME="CHANGED" CONTENT="20190207;161647000000000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="KSOProductBuildVer" CONTENT="1033-10.2.0.7635">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 1in }
		P { margin-bottom: 0.08in; direction: ltr; line-height: 115%; widows: 2; orphans: 2 }
		P.western { font-family: "Calibri", serif; font-size: 11pt; so-language: en-GB }
		P.cjk { font-size: 11pt; so-language: en-US }
		P.ctl { font-family: "Calibri"; font-size: 11pt; so-language: ar-SA }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<IMG SRC="Externals_Visiting_VIT_html_9349c095.gif"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=3><SPAN STYLE="background: #ffffff"><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="background: #ffffff"><BR></SPAN></FONT></FONT></FONT><BR>
</P>
<TABLE WIDTH=633 CELLPADDING=5 CELLSPACING=0>
	<COL WIDTH=237>
	<COL WIDTH=374>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=15 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Subject
			</B></FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Approval
			for : </B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><B>
			 <%= info3.event %></B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>
			</B></FONT></FONT></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=8 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Club/
			Chapter Name</FONT></FONT></FONT></P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.clubName %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=8 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Event
			Name </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.event %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=6 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Externals
			Details </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">
			</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN">
			Name : <%= info3.external.name %><br>Designation : <%= info3.external.designation %><br>Organisation : <%= info3.external.organisation %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=9 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Date
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.date %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Time
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.time %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=10 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Beneficiaries
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.beneficiary %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Faculty
			Advisor </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">
			</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN">Faculty Name : <%= info3.facultyAdvisor.name %><br>
							Employee Id : <%= info3.facultyAdvisor.empId %><br>Mobile No : <%= info3.facultyAdvisor.mobNo %><br>VIT email Id : <%= info3.facultyAdvisor.email %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=8 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Transport
			requirement </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.transport %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=237 HEIGHT=6 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Other
			Details </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=374 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><A NAME="_GoBack"></A><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info3.other %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
</BODY>
</HTML>