<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="CREATED" CONTENT="0;0">
	<META NAME="CHANGED" CONTENT="0;0">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 0.94in; margin-right: 0.75in; margin-bottom: 0.5in }
		@page:first { }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		P.western { font-size: 12pt; so-language: en-US }
		P.cjk { font-size: 12pt; so-language: en-US }
		P.ctl { font-size: 12pt; so-language: ar-SA }
		A:link { so-language: zxx }
	-->
	</STYLE>
</HEAD>"
<BODY LANG="en-US" DIR="RTL" style="margin : 100px 100px 100px 100px">
<DIV TYPE=HEADER>
	<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.28in; margin-bottom: 0.46in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 120%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
	<SPAN CLASS="sd-abs-pos" STYLE="position: absolute; top: 0.21in; left: 0.81in; width: 93px"><IMG SRC="VIT_LOGO.PNG"  NAME="graphics1" WIDTH=93 HEIGHT=98 BORDER=0></SPAN><SPAN CLASS="sd-abs-pos" STYLE="position: absolute; top: 0.15in; left: 4.1in; width: 399px" /><IMG SRC="GDG_LOGO.JPG" NAME="graphics2" WIDTH=399 HEIGHT=135 BORDER=0 /></SPAN><BR>
	</P>
</DIV>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.22in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.22in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.22in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#666666"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><SPAN STYLE="text-decoration: none">VIT
University</SPAN></SPAN></FONT></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#666666"><FONT FACE="Calibri, serif"><FONT SIZE=2><SPAN LANG="it-IT"><SPAN STYLE="text-decoration: none">Vellore</SPAN></SPAN></FONT></FONT></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.33in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><%= info4.date %></SPAN></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.33in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>Subject:
</B></SPAN></FONT><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><U><B>Request
for late night slips for members of <%= info4.clubName %>, VIT</B></U></SPAN></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-top: 0.14in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>Respected
Sir,</B></SPAN></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#353744"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT COLOR="#000000"><FONT FACE="Calibri, serif"><FONT SIZE=3><SPAN LANG="en-US"><SPAN STYLE="text-decoration: none"><%= info4.clubName %>-VIT is an open community chapter where like-minded
students come together to discuss, plan and implement projects. The community has <%= info4.purpose %>. Social-welfare projects during times of
crises have been developed to help the community and further bring
about a change. </SPAN></SPAN></FONT></FONT></FONT></FONT></FONT></FONT>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US">The
community has been working on projects for the past several years and
would like to continue working on the projects. We would also have to
work on the recruitments coming up for this semester. To work for the
same, we require extended night permissions with the following
specifications for the members of the community:</SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>VENUE: <%= info4.venue %></B></SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>NUMBER
OF ROOMS: <%= info4.noOfRoom %></B></SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>TIME:
<%= info4.fromTime %> to <%= info4.toTime %></B></SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><B>FROM
<%= info4.fromDate %> TO <%= info4.toDate %></B></SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT FACE="Calibri, serif"><SPAN LANG="en-US">I
request you to grant permission for the same. We highly appreciate
your assistance in this regard.</SPAN></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="margin-top: 0.14in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="margin-top: 0.14in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT COLOR="#000000"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><SPAN STYLE="text-decoration: none">Thanking
You.</SPAN></SPAN></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="margin-top: 0.14in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT COLOR="#000000"><FONT FACE="Calibri, serif"><SPAN LANG="en-US"><SPAN STYLE="text-decoration: none">Yours
Sincerely,</SPAN></SPAN></FONT></FONT></FONT></FONT></P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=JUSTIFY STYLE="text-indent: 0.5in; margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
<BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0.11in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; widows: 0; orphans: 0; text-decoration: none; page-break-after: auto">
<BR><BR>
</P>
<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0.11in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 115%; page-break-inside: auto; widows: 0; orphans: 0; text-decoration: none; page-break-after: auto">
<BR><BR>
</P>

<p style="text-align:left;">
	<%= info4.comLead %>
	<span style="float:right;"><%= info4.facCoordinator %></span>
</p>
<p style="text-align:left;">
	(Community Lead)
	<span style="float:right;">(Faculty Coordinator)</span>
</p>

<DIV TYPE=FOOTER>
	<P DIR="LTR" ALIGN=LEFT STYLE="margin-bottom: 0in; background: #ffffff; font-variant: normal; font-style: normal; font-weight: normal; line-height: 100%; page-break-inside: auto; text-decoration: none; page-break-after: auto">
	<BR>
	</P>
</DIV>
</BODY>
</HTML>