<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Admin">
	<META NAME="CREATED" CONTENT="20160720;102700000000000">
	<META NAME="CHANGEDBY" CONTENT="abhi1">
	<META NAME="CHANGED" CONTENT="20190206;180651000000000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="KSOProductBuildVer" CONTENT="1033-10.2.0.7635">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 1in }
		P { margin-bottom: 0.08in; direction: ltr; line-height: 115%; widows: 2; orphans: 2 }
		P.western { font-family: "Calibri", serif; font-size: 11pt; so-language: en-GB }
		P.cjk { font-size: 11pt; so-language: en-US }
		P.ctl { font-family: "Calibri"; font-size: 11pt; so-language: ar-SA }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" DIR="LTR">
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<IMG SRC="Students_Visiting_ouside_VIT_html_fc068e38.gif"></P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<TABLE style="table-layout: fixed; width: auto ;" WIDTH=633 CELLPADDING=5 CELLSPACING=0>
	<COL WIDTH=206>
	<COL WIDTH=405>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=14 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>Subject
			</B></FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><B>Approval
			for <%= info1.eventName %></B></SPAN></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><B>
			</B></FONT></FONT></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=9 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Club/
			Chapter Name</FONT></FONT></FONT></P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                                 <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.clubName %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=6 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Event
			Name </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                                <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.eventName %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=18 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Externals
			agencies Involved </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                            <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.extAgency %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Date
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                                 <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.date %>
			 </SPAN></FONT></FONT></FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=8 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Time
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                                 <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.time %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=17 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Beneficiaries
			</FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                           <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.beneficiaries %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=16 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Faculty
			Advisor </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000">            
			                           <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN">Name : <%= info1.facultyAdvisor.name%>
											   <br/>Employee ID : <%= info1.facultyAdvisor.empId %>
											   <br/>Mob No : <%= info1.facultyAdvisor.mobNo %>
											   <br/>VIT Email : <%= info1.facultyAdvisor.vitEmail %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=206 HEIGHT=7 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><FONT COLOR="#000000"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt">Other
			Details </FONT></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=405 BGCOLOR="#ffffff" STYLE="border: 1.00pt solid #000001; padding: 0.05in 0.1in">
			<P LANG="en-GB" CLASS="western"><A NAME="_GoBack"></A><FONT COLOR="#000000">
			                                       <FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-IN"><%= info1.otherDetails %></SPAN></FONT></FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
</BODY>
</HTML>
